In [1]:
import pandas as pd
import numpy as np

In [2]:
local = pd.read_csv("../dataHome/근무지.csv", encoding = "ms949")

In [3]:
local

  근무지코드 근무지명          근무지주소
0    A1   상암    서울 마포구 매봉산로
1    B1   시청  서울 중구 서소문로 89

In [4]:
part = pd.read_csv("../dataHome/부서.csv", encoding = "ms949")
part

  부서코드    부서명
0    G   거버넌스
1    E   수집통합
2    S  저장소구축
3    C   현황조사

In [5]:
staff = pd.read_csv("../dataHome/사원.csv", encoding = "ms949")
staff

     사원번호   사원명  직급코드 근무지코드 부서코드  상급자사원번호          급여              입사일
0   102.0   김존형  60.0    A1    S      NaN   8346000.0  2004-05-02 0:00
1   103.0   유광전  50.0    A1    E      NaN   8900000.0  2006-12-06 0:00
2   104.0   김은목  50.0    A1    G    101.0   5430000.0  2012-09-14 0:00
3   105.0   임기옹  30.0    A1    E    103.0  10000000.0  2011-04-23 0:00
4   106.0   윤영삭  20.0    A1    G    101.0   4400000.0  2016-01-09 0:00
5   107.0   윤문옹  50.0    A1    S    102.0   7090000.0  2018-08-19 0:00
6   108.0   엄자호  50.0    A1    E    103.0   6400000.0  2018-02-24 0:00
7   109.0   서겸민  20.0    B1    C    101.0   3100000.0  2020-06-10 0:00
8   110.0   김민삭  10.0    B1    C    101.0   2200000.0  2020-08-01 0:00
9   111.0   한요리  10.0    B1    C    101.0   2300000.0  2020-08-01 0:00
10  112.0    공햔  10.0    B1    C    101.0   2200000.0  2020-08-01 0:00
11  113.0   김재양  10.0    B1    C    101.0   2400000.0  2020-08-01 0:00
12  114.0    한술  10.0    B1    T    101.0   2500000.0  2020-08-01 0:00
13  115.0   정샤인  10.0    A1    G    103.0   2350000.0  2020-08-20 0:00
14  116.0   문산윤  10.0    A1    G    103.0   2350000.0  2020-08-20 0:00
15  101.0   허잔석  60.0    A1    G      NaN   8530000.0  2001-03-07 0:00
16  117.0  김123  50.0    A1    E    103.0   9012530.0  2020-09-07 0:00
17  118.0    안청  50.0    A1    E    103.0   9553200.0  2020-09-07 0:00
18    NaN   NaN   NaN   NaN  NaN      NaN         NaN              NaN

In [6]:
level = pd.read_csv("../dataHome/직급.csv", encoding = "ms949")
level

   직급코드 직급명
0    10  사원
1    20  대리
2    30  과장
3    40  차장
4    50  부장
5    60  이사

In [7]:
localStaff=pd.merge(left = staff, right = local, on = '근무지코드', how='left')
localPartStaff = pd.merge(left = localStaff, right = part, on = '부서코드', how='left')

In [8]:
# localPartStaff.직급코드 = localPartStaff.직급코드.astype(int)
company=pd.merge(left = localPartStaff, right = level, on = '직급코드', how='left')
company

,사원번호,사원명,직급코드,근무지코드,부서코드,상급자사원번호,급여,입사일,근무지명,근무지주소,부서명,직급명
0,102.0,김존형,60.0,A1,S,NaN,8346000.0,2004-05-02 0:00,상암,서울 마포구 매봉산로,저장소구축,이사
1,103.0,유광전,50.0,A1,E,NaN,8900000.0,2006-12-06 0:00,상암,서울 마포구 매봉산로,수집통합,부장
2,104.0,김은목,50.0,A1,G,101.0,5430000.0,2012-09-14 0:00,상암,서울 마포구 매봉산로,거버넌스,부장
3,105.0,임기옹,30.0,A1,E,103.0,10000000.0,2011-04-23 0:00,상암,서울 마포구 매봉산로,수집통합,과장
4,106.0,윤영삭,20.0,A1,G,101.0,4400000.0,2016-01-09 0:00,상암,서울 마포구 매봉산로,거버넌스,대리
5,107.0,윤문옹,50.0,A1,S,102.0,7090000.0,2018-08-19 0:00,상암,서울 마포구 매봉산로,저장소구축,부장
6,108.0,엄자호,50.0,A1,E,103.0,6400000.0,2018-02-24 0:00,상암,서울 마포구 매봉산로,수집통합,부장
7,109.0,서겸민,20.0,B1,C,101.0,3100000.0,2020-06-10 0:00,시청,서울 중구 서소문로 89,현황조사,대리
8,110.0,김민삭,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원
9,111.0,한요리,10.0,B1,C,101.0,2300000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원
10,112.0,공햔,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원
11,113.0,김재양,10.0,B1,C,101.0,2400000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원
12,114.0,한술,10.0,B1,T,101.0,2500000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,NaN,사원
13,115.0,정샤인,10.0,A1,G,103.0,2350000.0,2020-08-20 0:00,상암,서울 마포구 매봉산로,거버넌스,사원
14,116.0,문산윤,10.0,A1,G,103.0,2350000.0,2020-08-20 0:00,상암,서울 마포구 매봉산로,거버넌스,사원
15,101.0,허잔석,60.0,A1,G,NaN,8530000.0,2001-03-07 0:00,상암,서울 마포구 매봉산로,거버넌스,이사
16,117.0,김123,50.0,A1,E,103.0,9012530.0,2020-09-07 0:00,상암,서울 마포구 매봉산로,수집통합,부장
17,118.0,안청,50.0,A1,E,103.0,9553200.0,2020-09-07 0:00,상암,서울 마포구 매봉산로,수집통합,부장
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 1. 급여가 800만원 이상인 사원의 사원명, 직급코드를 출력하시오

In [9]:
group1 = ['사원명', '직급코드']
quiz1 = company.loc[:,group1]
quiz1.loc[company.급여 > 8000000]

     사원명  직급코드
0    김존형  60.0
1    유광전  50.0
3    임기옹  30.0
15   허잔석  60.0
16  김123  50.0
17    안청  50.0

# 2. 입사일이 2010년~2018년 사이인 사원의 사원명, 부서코드, 급여, 입사일을 출력하시오

In [10]:
company.dtypes

사원번호       float64
사원명         object
직급코드       float64
근무지코드       object
부서코드        object
상급자사원번호    float64
급여         float64
입사일         object
근무지명        object
근무지주소       object
부서명         object
직급명         object
dtype: object

In [11]:
company["입사년도"] = company.입사일.str[:4]
company

,사원번호,사원명,직급코드,근무지코드,부서코드,상급자사원번호,급여,입사일,근무지명,근무지주소,부서명,직급명,입사년도
0,102.0,김존형,60.0,A1,S,NaN,8346000.0,2004-05-02 0:00,상암,서울 마포구 매봉산로,저장소구축,이사,2004
1,103.0,유광전,50.0,A1,E,NaN,8900000.0,2006-12-06 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2006
2,104.0,김은목,50.0,A1,G,101.0,5430000.0,2012-09-14 0:00,상암,서울 마포구 매봉산로,거버넌스,부장,2012
3,105.0,임기옹,30.0,A1,E,103.0,10000000.0,2011-04-23 0:00,상암,서울 마포구 매봉산로,수집통합,과장,2011
4,106.0,윤영삭,20.0,A1,G,101.0,4400000.0,2016-01-09 0:00,상암,서울 마포구 매봉산로,거버넌스,대리,2016
5,107.0,윤문옹,50.0,A1,S,102.0,7090000.0,2018-08-19 0:00,상암,서울 마포구 매봉산로,저장소구축,부장,2018
6,108.0,엄자호,50.0,A1,E,103.0,6400000.0,2018-02-24 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2018
7,109.0,서겸민,20.0,B1,C,101.0,3100000.0,2020-06-10 0:00,시청,서울 중구 서소문로 89,현황조사,대리,2020
8,110.0,김민삭,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020
9,111.0,한요리,10.0,B1,C,101.0,2300000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020
10,112.0,공햔,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020
11,113.0,김재양,10.0,B1,C,101.0,2400000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020
12,114.0,한술,10.0,B1,T,101.0,2500000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,NaN,사원,2020
13,115.0,정샤인,10.0,A1,G,103.0,2350000.0,2020-08-20 0:00,상암,서울 마포구 매봉산로,거버넌스,사원,2020
14,116.0,문산윤,10.0,A1,G,103.0,2350000.0,2020-08-20 0:00,상암,서울 마포구 매봉산로,거버넌스,사원,2020
15,101.0,허잔석,60.0,A1,G,NaN,8530000.0,2001-03-07 0:00,상암,서울 마포구 매봉산로,거버넌스,이사,2001
16,117.0,김123,50.0,A1,E,103.0,9012530.0,2020-09-07 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2020
17,118.0,안청,50.0,A1,E,103.0,9553200.0,2020-09-07 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2020
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
company = company.drop(company.index[18])
company

,사원번호,사원명,직급코드,근무지코드,부서코드,상급자사원번호,급여,입사일,근무지명,근무지주소,부서명,직급명,입사년도
0,102.0,김존형,60.0,A1,S,NaN,8346000.0,2004-05-02 0:00,상암,서울 마포구 매봉산로,저장소구축,이사,2004
1,103.0,유광전,50.0,A1,E,NaN,8900000.0,2006-12-06 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2006
2,104.0,김은목,50.0,A1,G,101.0,5430000.0,2012-09-14 0:00,상암,서울 마포구 매봉산로,거버넌스,부장,2012
3,105.0,임기옹,30.0,A1,E,103.0,10000000.0,2011-04-23 0:00,상암,서울 마포구 매봉산로,수집통합,과장,2011
4,106.0,윤영삭,20.0,A1,G,101.0,4400000.0,2016-01-09 0:00,상암,서울 마포구 매봉산로,거버넌스,대리,2016
5,107.0,윤문옹,50.0,A1,S,102.0,7090000.0,2018-08-19 0:00,상암,서울 마포구 매봉산로,저장소구축,부장,2018
6,108.0,엄자호,50.0,A1,E,103.0,6400000.0,2018-02-24 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2018
7,109.0,서겸민,20.0,B1,C,101.0,3100000.0,2020-06-10 0:00,시청,서울 중구 서소문로 89,현황조사,대리,2020
8,110.0,김민삭,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020
9,111.0,한요리,10.0,B1,C,101.0,2300000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020
10,112.0,공햔,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020
11,113.0,김재양,10.0,B1,C,101.0,2400000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020
12,114.0,한술,10.0,B1,T,101.0,2500000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,NaN,사원,2020
13,115.0,정샤인,10.0,A1,G,103.0,2350000.0,2020-08-20 0:00,상암,서울 마포구 매봉산로,거버넌스,사원,2020
14,116.0,문산윤,10.0,A1,G,103.0,2350000.0,2020-08-20 0:00,상암,서울 마포구 매봉산로,거버넌스,사원,2020
15,101.0,허잔석,60.0,A1,G,NaN,8530000.0,2001-03-07 0:00,상암,서울 마포구 매봉산로,거버넌스,이사,2001
16,117.0,김123,50.0,A1,E,103.0,9012530.0,2020-09-07 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2020
17,118.0,안청,50.0,A1,E,103.0,9553200.0,2020-09-07 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2020

In [13]:
group2 = ['사원명', '부서코드', '급여', '입사일']
quiz2 = company.loc[:,group2]
quiz2.dtypes
company.dtypes
company.입사년도 = company.입사년도.astype(int)

In [14]:
company.dtypes

사원번호       float64
사원명         object
직급코드       float64
근무지코드       object
부서코드        object
상급자사원번호    float64
급여         float64
입사일         object
근무지명        object
근무지주소       object
부서명         object
직급명         object
입사년도         int32
dtype: object

In [15]:
quiz2.loc[(company.입사년도 <= 2018 ) & (company.입사년도 >= 2010)]

   사원명 부서코드          급여              입사일
2  김은목    G   5430000.0  2012-09-14 0:00
3  임기옹    E  10000000.0  2011-04-23 0:00
4  윤영삭    G   4400000.0  2016-01-09 0:00
5  윤문옹    S   7090000.0  2018-08-19 0:00
6  엄자호    E   6400000.0  2018-02-24 0:00

# 3. 입사일이 2020년 08월이면서 부서코드가 'C'가 아닌 사원의 사원명, 근무지코드, 부서코드를 출력하시오

In [16]:
group3 = ['사원명', '근무지코드', '부서코드']

In [17]:
company["입사월"] = company.입사일.str[5:7]
company

,사원번호,사원명,직급코드,근무지코드,부서코드,상급자사원번호,급여,입사일,근무지명,근무지주소,부서명,직급명,입사년도,입사월
0,102.0,김존형,60.0,A1,S,NaN,8346000.0,2004-05-02 0:00,상암,서울 마포구 매봉산로,저장소구축,이사,2004,05
1,103.0,유광전,50.0,A1,E,NaN,8900000.0,2006-12-06 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2006,12
2,104.0,김은목,50.0,A1,G,101.0,5430000.0,2012-09-14 0:00,상암,서울 마포구 매봉산로,거버넌스,부장,2012,09
3,105.0,임기옹,30.0,A1,E,103.0,10000000.0,2011-04-23 0:00,상암,서울 마포구 매봉산로,수집통합,과장,2011,04
4,106.0,윤영삭,20.0,A1,G,101.0,4400000.0,2016-01-09 0:00,상암,서울 마포구 매봉산로,거버넌스,대리,2016,01
5,107.0,윤문옹,50.0,A1,S,102.0,7090000.0,2018-08-19 0:00,상암,서울 마포구 매봉산로,저장소구축,부장,2018,08
6,108.0,엄자호,50.0,A1,E,103.0,6400000.0,2018-02-24 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2018,02
7,109.0,서겸민,20.0,B1,C,101.0,3100000.0,2020-06-10 0:00,시청,서울 중구 서소문로 89,현황조사,대리,2020,06
8,110.0,김민삭,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,08
9,111.0,한요리,10.0,B1,C,101.0,2300000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,08
10,112.0,공햔,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,08
11,113.0,김재양,10.0,B1,C,101.0,2400000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,08
12,114.0,한술,10.0,B1,T,101.0,2500000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,NaN,사원,2020,08
13,115.0,정샤인,10.0,A1,G,103.0,2350000.0,2020-08-20 0:00,상암,서울 마포구 매봉산로,거버넌스,사원,2020,08
14,116.0,문산윤,10.0,A1,G,103.0,2350000.0,2020-08-20 0:00,상암,서울 마포구 매봉산로,거버넌스,사원,2020,08
15,101.0,허잔석,60.0,A1,G,NaN,8530000.0,2001-03-07 0:00,상암,서울 마포구 매봉산로,거버넌스,이사,2001,03
16,117.0,김123,50.0,A1,E,103.0,9012530.0,2020-09-07 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2020,09
17,118.0,안청,50.0,A1,E,103.0,9553200.0,2020-09-07 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2020,09

In [18]:
quiz3 = company.loc[:,group3]
quiz3.loc[((company.입사년도 == 2020) & (company.입사월 == '08'))&(company.부서코드 != 'C')]

    사원명 근무지코드 부서코드
12   한술    B1    T
13  정샤인    A1    G
14  문산윤    A1    G

# 4. 사원의 총인원수를 출력하시오

In [19]:
company.loc[company.직급명 == '사원']
len(company.loc[company.직급명 == '사원'])

7

# 5. 상급자사원번호가 없는 사원의 총인원수와 총급여합을  출력하시오

In [20]:
company

,사원번호,사원명,직급코드,근무지코드,부서코드,상급자사원번호,급여,입사일,근무지명,근무지주소,부서명,직급명,입사년도,입사월
0,102.0,김존형,60.0,A1,S,NaN,8346000.0,2004-05-02 0:00,상암,서울 마포구 매봉산로,저장소구축,이사,2004,05
1,103.0,유광전,50.0,A1,E,NaN,8900000.0,2006-12-06 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2006,12
2,104.0,김은목,50.0,A1,G,101.0,5430000.0,2012-09-14 0:00,상암,서울 마포구 매봉산로,거버넌스,부장,2012,09
3,105.0,임기옹,30.0,A1,E,103.0,10000000.0,2011-04-23 0:00,상암,서울 마포구 매봉산로,수집통합,과장,2011,04
4,106.0,윤영삭,20.0,A1,G,101.0,4400000.0,2016-01-09 0:00,상암,서울 마포구 매봉산로,거버넌스,대리,2016,01
5,107.0,윤문옹,50.0,A1,S,102.0,7090000.0,2018-08-19 0:00,상암,서울 마포구 매봉산로,저장소구축,부장,2018,08
6,108.0,엄자호,50.0,A1,E,103.0,6400000.0,2018-02-24 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2018,02
7,109.0,서겸민,20.0,B1,C,101.0,3100000.0,2020-06-10 0:00,시청,서울 중구 서소문로 89,현황조사,대리,2020,06
8,110.0,김민삭,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,08
9,111.0,한요리,10.0,B1,C,101.0,2300000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,08
10,112.0,공햔,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,08
11,113.0,김재양,10.0,B1,C,101.0,2400000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,08
12,114.0,한술,10.0,B1,T,101.0,2500000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,NaN,사원,2020,08
13,115.0,정샤인,10.0,A1,G,103.0,2350000.0,2020-08-20 0:00,상암,서울 마포구 매봉산로,거버넌스,사원,2020,08
14,116.0,문산윤,10.0,A1,G,103.0,2350000.0,2020-08-20 0:00,상암,서울 마포구 매봉산로,거버넌스,사원,2020,08
15,101.0,허잔석,60.0,A1,G,NaN,8530000.0,2001-03-07 0:00,상암,서울 마포구 매봉산로,거버넌스,이사,2001,03
16,117.0,김123,50.0,A1,E,103.0,9012530.0,2020-09-07 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2020,09
17,118.0,안청,50.0,A1,E,103.0,9553200.0,2020-09-07 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2020,09

In [21]:
company.상급자사원번호.isnull().sum()

3

In [22]:
quiz5 = company[company['상급자사원번호'].isnull()]

In [23]:
quiz5.급여.sum()

25776000.0

# 6. 급여가 300만원이하이면서 2020년 08월 15일 이후에 입사한 사원의 총인원수와 총급여합을 출력하시오

In [24]:
company

,사원번호,사원명,직급코드,근무지코드,부서코드,상급자사원번호,급여,입사일,근무지명,근무지주소,부서명,직급명,입사년도,입사월
0,102.0,김존형,60.0,A1,S,NaN,8346000.0,2004-05-02 0:00,상암,서울 마포구 매봉산로,저장소구축,이사,2004,05
1,103.0,유광전,50.0,A1,E,NaN,8900000.0,2006-12-06 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2006,12
2,104.0,김은목,50.0,A1,G,101.0,5430000.0,2012-09-14 0:00,상암,서울 마포구 매봉산로,거버넌스,부장,2012,09
3,105.0,임기옹,30.0,A1,E,103.0,10000000.0,2011-04-23 0:00,상암,서울 마포구 매봉산로,수집통합,과장,2011,04
4,106.0,윤영삭,20.0,A1,G,101.0,4400000.0,2016-01-09 0:00,상암,서울 마포구 매봉산로,거버넌스,대리,2016,01
5,107.0,윤문옹,50.0,A1,S,102.0,7090000.0,2018-08-19 0:00,상암,서울 마포구 매봉산로,저장소구축,부장,2018,08
6,108.0,엄자호,50.0,A1,E,103.0,6400000.0,2018-02-24 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2018,02
7,109.0,서겸민,20.0,B1,C,101.0,3100000.0,2020-06-10 0:00,시청,서울 중구 서소문로 89,현황조사,대리,2020,06
8,110.0,김민삭,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,08
9,111.0,한요리,10.0,B1,C,101.0,2300000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,08
10,112.0,공햔,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,08
11,113.0,김재양,10.0,B1,C,101.0,2400000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,08
12,114.0,한술,10.0,B1,T,101.0,2500000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,NaN,사원,2020,08
13,115.0,정샤인,10.0,A1,G,103.0,2350000.0,2020-08-20 0:00,상암,서울 마포구 매봉산로,거버넌스,사원,2020,08
14,116.0,문산윤,10.0,A1,G,103.0,2350000.0,2020-08-20 0:00,상암,서울 마포구 매봉산로,거버넌스,사원,2020,08
15,101.0,허잔석,60.0,A1,G,NaN,8530000.0,2001-03-07 0:00,상암,서울 마포구 매봉산로,거버넌스,이사,2001,03
16,117.0,김123,50.0,A1,E,103.0,9012530.0,2020-09-07 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2020,09
17,118.0,안청,50.0,A1,E,103.0,9553200.0,2020-09-07 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2020,09

In [25]:
company["입사일자"] = company.입사일.str[8:10]
company.입사월 = company.입사월.astype(int)
company.입사일자 = company.입사일자.astype(int)

In [26]:
company.dtypes

사원번호       float64
사원명         object
직급코드       float64
근무지코드       object
부서코드        object
상급자사원번호    float64
급여         float64
입사일         object
근무지명        object
근무지주소       object
부서명         object
직급명         object
입사년도         int32
입사월          int32
입사일자         int32
dtype: object

In [27]:
quiz6 = company.loc[(company.급여 <= 3000000) & (company.입사년도 >= 2020) & (company.입사월 >= 8) & (company.입사일자 >= 15)]
quiz6

,사원번호,사원명,직급코드,근무지코드,부서코드,상급자사원번호,급여,입사일,근무지명,근무지주소,부서명,직급명,입사년도,입사월,입사일자
13,115.0,정샤인,10.0,A1,G,103.0,2350000.0,2020-08-20 0:00,상암,서울 마포구 매봉산로,거버넌스,사원,2020,8,20
14,116.0,문산윤,10.0,A1,G,103.0,2350000.0,2020-08-20 0:00,상암,서울 마포구 매봉산로,거버넌스,사원,2020,8,20

In [28]:
len(quiz6)

2

In [29]:
quiz6.급여.sum()

4700000.0

# 7. '한' 씨 성을 가진 사원들을 출력하시오

In [30]:
company

,사원번호,사원명,직급코드,근무지코드,부서코드,상급자사원번호,급여,입사일,근무지명,근무지주소,부서명,직급명,입사년도,입사월,입사일자
0,102.0,김존형,60.0,A1,S,NaN,8346000.0,2004-05-02 0:00,상암,서울 마포구 매봉산로,저장소구축,이사,2004,5,2
1,103.0,유광전,50.0,A1,E,NaN,8900000.0,2006-12-06 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2006,12,6
2,104.0,김은목,50.0,A1,G,101.0,5430000.0,2012-09-14 0:00,상암,서울 마포구 매봉산로,거버넌스,부장,2012,9,14
3,105.0,임기옹,30.0,A1,E,103.0,10000000.0,2011-04-23 0:00,상암,서울 마포구 매봉산로,수집통합,과장,2011,4,23
4,106.0,윤영삭,20.0,A1,G,101.0,4400000.0,2016-01-09 0:00,상암,서울 마포구 매봉산로,거버넌스,대리,2016,1,9
5,107.0,윤문옹,50.0,A1,S,102.0,7090000.0,2018-08-19 0:00,상암,서울 마포구 매봉산로,저장소구축,부장,2018,8,19
6,108.0,엄자호,50.0,A1,E,103.0,6400000.0,2018-02-24 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2018,2,24
7,109.0,서겸민,20.0,B1,C,101.0,3100000.0,2020-06-10 0:00,시청,서울 중구 서소문로 89,현황조사,대리,2020,6,10
8,110.0,김민삭,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1
9,111.0,한요리,10.0,B1,C,101.0,2300000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1
10,112.0,공햔,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1
11,113.0,김재양,10.0,B1,C,101.0,2400000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1
12,114.0,한술,10.0,B1,T,101.0,2500000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,NaN,사원,2020,8,1
13,115.0,정샤인,10.0,A1,G,103.0,2350000.0,2020-08-20 0:00,상암,서울 마포구 매봉산로,거버넌스,사원,2020,8,20
14,116.0,문산윤,10.0,A1,G,103.0,2350000.0,2020-08-20 0:00,상암,서울 마포구 매봉산로,거버넌스,사원,2020,8,20
15,101.0,허잔석,60.0,A1,G,NaN,8530000.0,2001-03-07 0:00,상암,서울 마포구 매봉산로,거버넌스,이사,2001,3,7
16,117.0,김123,50.0,A1,E,103.0,9012530.0,2020-09-07 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2020,9,7
17,118.0,안청,50.0,A1,E,103.0,9553200.0,2020-09-07 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2020,9,7

In [31]:
quiz7 = company.loc[company.사원명.str[0] == '한']
quiz7

,사원번호,사원명,직급코드,근무지코드,부서코드,상급자사원번호,급여,입사일,근무지명,근무지주소,부서명,직급명,입사년도,입사월,입사일자
9,111.0,한요리,10.0,B1,C,101.0,2300000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1
12,114.0,한술,10.0,B1,T,101.0,2500000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,NaN,사원,2020,8,1

# 8. 직급별 급여의 평균을 출력하시오(반올림해서 정수만 출력)

In [32]:
group8= ['직급명']

In [33]:
quiz8 = company.groupby(by=group8)[["급여"]].agg(["mean"])
quiz8.급여.astype(int)

         mean
직급명
과장   10000000
대리    3750000
부장    7730955
사원    2328571
이사    8438000

# 9. 사원명에 '삭' 자가 포함되어 있거나 '김'씨 성을 가진 사원의 급여합을 출력하시오

In [34]:
group9 = ['삭']
quiz9 = company.loc[(company.사원명.isin(group9)) | (company.사원명.str[0] == '김')]
quiz9

,사원번호,사원명,직급코드,근무지코드,부서코드,상급자사원번호,급여,입사일,근무지명,근무지주소,부서명,직급명,입사년도,입사월,입사일자
0,102.0,김존형,60.0,A1,S,NaN,8346000.0,2004-05-02 0:00,상암,서울 마포구 매봉산로,저장소구축,이사,2004,5,2
2,104.0,김은목,50.0,A1,G,101.0,5430000.0,2012-09-14 0:00,상암,서울 마포구 매봉산로,거버넌스,부장,2012,9,14
8,110.0,김민삭,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1
11,113.0,김재양,10.0,B1,C,101.0,2400000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1
16,117.0,김123,50.0,A1,E,103.0,9012530.0,2020-09-07 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2020,9,7

In [35]:
quiz9.급여.sum()

27388530.0

# 10. 부서별 사원수를 출력하시오

In [36]:
group10= ['부서명']
quiz10 = company.groupby(by=group10)[["사원명"]].agg(["count"])
quiz10

        사원명
      count
부서명
거버넌스      5
수집통합      5
저장소구축     2
현황조사      5

# 11. 근무지별 사원의 총인원수를 출력하시오

In [37]:
group11= ['근무지명']
quiz11 = company.groupby(by=group11)[["사원명"]].agg(["count"])
quiz11

       사원명
     count
근무지명
상암      12
시청       6

# 12. 가장 높은 급여와 가장 낮은 급여를 출력하시오

In [38]:
company

,사원번호,사원명,직급코드,근무지코드,부서코드,상급자사원번호,급여,입사일,근무지명,근무지주소,부서명,직급명,입사년도,입사월,입사일자
0,102.0,김존형,60.0,A1,S,NaN,8346000.0,2004-05-02 0:00,상암,서울 마포구 매봉산로,저장소구축,이사,2004,5,2
1,103.0,유광전,50.0,A1,E,NaN,8900000.0,2006-12-06 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2006,12,6
2,104.0,김은목,50.0,A1,G,101.0,5430000.0,2012-09-14 0:00,상암,서울 마포구 매봉산로,거버넌스,부장,2012,9,14
3,105.0,임기옹,30.0,A1,E,103.0,10000000.0,2011-04-23 0:00,상암,서울 마포구 매봉산로,수집통합,과장,2011,4,23
4,106.0,윤영삭,20.0,A1,G,101.0,4400000.0,2016-01-09 0:00,상암,서울 마포구 매봉산로,거버넌스,대리,2016,1,9
5,107.0,윤문옹,50.0,A1,S,102.0,7090000.0,2018-08-19 0:00,상암,서울 마포구 매봉산로,저장소구축,부장,2018,8,19
6,108.0,엄자호,50.0,A1,E,103.0,6400000.0,2018-02-24 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2018,2,24
7,109.0,서겸민,20.0,B1,C,101.0,3100000.0,2020-06-10 0:00,시청,서울 중구 서소문로 89,현황조사,대리,2020,6,10
8,110.0,김민삭,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1
9,111.0,한요리,10.0,B1,C,101.0,2300000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1
10,112.0,공햔,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1
11,113.0,김재양,10.0,B1,C,101.0,2400000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1
12,114.0,한술,10.0,B1,T,101.0,2500000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,NaN,사원,2020,8,1
13,115.0,정샤인,10.0,A1,G,103.0,2350000.0,2020-08-20 0:00,상암,서울 마포구 매봉산로,거버넌스,사원,2020,8,20
14,116.0,문산윤,10.0,A1,G,103.0,2350000.0,2020-08-20 0:00,상암,서울 마포구 매봉산로,거버넌스,사원,2020,8,20
15,101.0,허잔석,60.0,A1,G,NaN,8530000.0,2001-03-07 0:00,상암,서울 마포구 매봉산로,거버넌스,이사,2001,3,7
16,117.0,김123,50.0,A1,E,103.0,9012530.0,2020-09-07 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2020,9,7
17,118.0,안청,50.0,A1,E,103.0,9553200.0,2020-09-07 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2020,9,7

In [39]:
company.급여.max()

10000000.0

In [40]:
company.급여.min()

2200000.0

# 13. 급여가 500만원 이상, 800만원 이하인 사원의 급여평균과 급여의 최대값을 출력하시오

In [41]:
quiz13 = company.loc[(company.급여>=5000000)&(company.급여<=8000000)]
quiz13

,사원번호,사원명,직급코드,근무지코드,부서코드,상급자사원번호,급여,입사일,근무지명,근무지주소,부서명,직급명,입사년도,입사월,입사일자
2,104.0,김은목,50.0,A1,G,101.0,5430000.0,2012-09-14 0:00,상암,서울 마포구 매봉산로,거버넌스,부장,2012,9,14
5,107.0,윤문옹,50.0,A1,S,102.0,7090000.0,2018-08-19 0:00,상암,서울 마포구 매봉산로,저장소구축,부장,2018,8,19
6,108.0,엄자호,50.0,A1,E,103.0,6400000.0,2018-02-24 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2018,2,24

In [42]:
quiz13.급여.mean()

6306666.666666667

In [43]:
quiz13.급여.max()

7090000.0

# 14. 가장 높은 급여와 가장 낮은 급여의 차를 출력하시오

In [44]:
maxIncome = company.급여.max()

In [45]:
minIncome = company.급여.min()

In [46]:
quiz14 = maxIncome - minIncome
quiz14

7800000.0

# 15. 근무지가 'A1'이 아닌 사원들의 부서코드별 사원수를 출력하시오

In [47]:
notA1 = company.loc[company.근무지코드 != 'A1']
notA1

,사원번호,사원명,직급코드,근무지코드,부서코드,상급자사원번호,급여,입사일,근무지명,근무지주소,부서명,직급명,입사년도,입사월,입사일자
7,109.0,서겸민,20.0,B1,C,101.0,3100000.0,2020-06-10 0:00,시청,서울 중구 서소문로 89,현황조사,대리,2020,6,10
8,110.0,김민삭,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1
9,111.0,한요리,10.0,B1,C,101.0,2300000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1
10,112.0,공햔,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1
11,113.0,김재양,10.0,B1,C,101.0,2400000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1
12,114.0,한술,10.0,B1,T,101.0,2500000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,NaN,사원,2020,8,1

In [48]:
group15=['부서코드']
quiz15 = notA1.groupby(by=group15)[["사원명"]].agg(["count"])
quiz15

       사원명
     count
부서코드
C        5
T        1

# 16. 부서코드별 사원번호순으로 부서코드, 사원번호, 사원명, 급여의 누적값을 구해서 출력하시오

In [49]:
sortKey=['부서코드','사원번호']
company.sort_values(by=sortKey)
company

,사원번호,사원명,직급코드,근무지코드,부서코드,상급자사원번호,급여,입사일,근무지명,근무지주소,부서명,직급명,입사년도,입사월,입사일자
0,102.0,김존형,60.0,A1,S,NaN,8346000.0,2004-05-02 0:00,상암,서울 마포구 매봉산로,저장소구축,이사,2004,5,2
1,103.0,유광전,50.0,A1,E,NaN,8900000.0,2006-12-06 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2006,12,6
2,104.0,김은목,50.0,A1,G,101.0,5430000.0,2012-09-14 0:00,상암,서울 마포구 매봉산로,거버넌스,부장,2012,9,14
3,105.0,임기옹,30.0,A1,E,103.0,10000000.0,2011-04-23 0:00,상암,서울 마포구 매봉산로,수집통합,과장,2011,4,23
4,106.0,윤영삭,20.0,A1,G,101.0,4400000.0,2016-01-09 0:00,상암,서울 마포구 매봉산로,거버넌스,대리,2016,1,9
5,107.0,윤문옹,50.0,A1,S,102.0,7090000.0,2018-08-19 0:00,상암,서울 마포구 매봉산로,저장소구축,부장,2018,8,19
6,108.0,엄자호,50.0,A1,E,103.0,6400000.0,2018-02-24 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2018,2,24
7,109.0,서겸민,20.0,B1,C,101.0,3100000.0,2020-06-10 0:00,시청,서울 중구 서소문로 89,현황조사,대리,2020,6,10
8,110.0,김민삭,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1
9,111.0,한요리,10.0,B1,C,101.0,2300000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1
10,112.0,공햔,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1
11,113.0,김재양,10.0,B1,C,101.0,2400000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1
12,114.0,한술,10.0,B1,T,101.0,2500000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,NaN,사원,2020,8,1
13,115.0,정샤인,10.0,A1,G,103.0,2350000.0,2020-08-20 0:00,상암,서울 마포구 매봉산로,거버넌스,사원,2020,8,20
14,116.0,문산윤,10.0,A1,G,103.0,2350000.0,2020-08-20 0:00,상암,서울 마포구 매봉산로,거버넌스,사원,2020,8,20
15,101.0,허잔석,60.0,A1,G,NaN,8530000.0,2001-03-07 0:00,상암,서울 마포구 매봉산로,거버넌스,이사,2001,3,7
16,117.0,김123,50.0,A1,E,103.0,9012530.0,2020-09-07 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2020,9,7
17,118.0,안청,50.0,A1,E,103.0,9553200.0,2020-09-07 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2020,9,7

In [50]:
group16=['부서코드','사원번호','사원명','급여']
company.loc[:,group16].cumsum()

,부서코드,사원번호,사원명,급여
0,S,102.0,김존형,8346000.0
1,SE,205.0,김존형유광전,17246000.0
2,SEG,309.0,김존형유광전김은목,22676000.0
3,SEGE,414.0,김존형유광전김은목임기옹,32676000.0
4,SEGEG,520.0,김존형유광전김은목임기옹윤영삭,37076000.0
5,SEGEGS,627.0,김존형유광전김은목임기옹윤영삭윤문옹,44166000.0
6,SEGEGSE,735.0,김존형유광전김은목임기옹윤영삭윤문옹엄자호,50566000.0
7,SEGEGSEC,844.0,김존형유광전김은목임기옹윤영삭윤문옹엄자호서겸민,53666000.0
8,SEGEGSECC,954.0,김존형유광전김은목임기옹윤영삭윤문옹엄자호서겸민김민삭,55866000.0
9,SEGEGSECCC,1065.0,김존형유광전김은목임기옹윤영삭윤문옹엄자호서겸민김민삭한요리,58166000.0
10,SEGEGSECCCC,1177.0,김존형유광전김은목임기옹윤영삭윤문옹엄자호서겸민김민삭한요리공햔,60366000.0
11,SEGEGSECCCCC,1290.0,김존형유광전김은목임기옹윤영삭윤문옹엄자호서겸민김민삭한요리공햔김재양,62766000.0
12,SEGEGSECCCCCT,1404.0,김존형유광전김은목임기옹윤영삭윤문옹엄자호서겸민김민삭한요리공햔김재양한술,65266000.0
13,SEGEGSECCCCCTG,1519.0,김존형유광전김은목임기옹윤영삭윤문옹엄자호서겸민김민삭한요리공햔김재양한술정샤인,67616000.0
14,SEGEGSECCCCCTGG,1635.0,김존형유광전김은목임기옹윤영삭윤문옹엄자호서겸민김민삭한요리공햔김재양한술정샤인문산윤,69966000.0
15,SEGEGSECCCCCTGGG,1736.0,김존형유광전김은목임기옹윤영삭윤문옹엄자호서겸민김민삭한요리공햔김재양한술정샤인문산윤허잔석,78496000.0
16,SEGEGSECCCCCTGGGE,1853.0,김존형유광전김은목임기옹윤영삭윤문옹엄자호서겸민김민삭한요리공햔김재양한술정샤인문산윤허잔석...,87508530.0
17,SEGEGSECCCCCTGGGEE,1971.0,김존형유광전김은목임기옹윤영삭윤문옹엄자호서겸민김민삭한요리공햔김재양한술정샤인문산윤허잔석...,97061730.0

# 17. 부서명, 사원명 출력하시오

In [51]:
group17=['부서명','사원명']
company.loc[:,group17]

      부서명   사원명
0   저장소구축   김존형
1    수집통합   유광전
2    거버넌스   김은목
3    수집통합   임기옹
4    거버넌스   윤영삭
5   저장소구축   윤문옹
6    수집통합   엄자호
7    현황조사   서겸민
8    현황조사   김민삭
9    현황조사   한요리
10   현황조사    공햔
11   현황조사   김재양
12    NaN    한술
13   거버넌스   정샤인
14   거버넌스   문산윤
15   거버넌스   허잔석
16   수집통합  김123
17   수집통합    안청

# 18. 전체 사원명과 부서명을 출력하되 부서명이 존재하지 않는 부서코드는 '부서명없음'으로 출력하시오

In [52]:
group18=['부서명','사원명']
company.loc[:,group18].fillna('부서명없음')

      부서명   사원명
0   저장소구축   김존형
1    수집통합   유광전
2    거버넌스   김은목
3    수집통합   임기옹
4    거버넌스   윤영삭
5   저장소구축   윤문옹
6    수집통합   엄자호
7    현황조사   서겸민
8    현황조사   김민삭
9    현황조사   한요리
10   현황조사    공햔
11   현황조사   김재양
12  부서명없음    한술
13   거버넌스   정샤인
14   거버넌스   문산윤
15   거버넌스   허잔석
16   수집통합  김123
17   수집통합    안청

# 19. 부서명으로 오름차순 정렬해서 부서명, 사원명, 입사일을 출력하시오

In [53]:
company.sort_values(by='부서명', ascending=False)

,사원번호,사원명,직급코드,근무지코드,부서코드,상급자사원번호,급여,입사일,근무지명,근무지주소,부서명,직급명,입사년도,입사월,입사일자
8,110.0,김민삭,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1
7,109.0,서겸민,20.0,B1,C,101.0,3100000.0,2020-06-10 0:00,시청,서울 중구 서소문로 89,현황조사,대리,2020,6,10
11,113.0,김재양,10.0,B1,C,101.0,2400000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1
10,112.0,공햔,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1
9,111.0,한요리,10.0,B1,C,101.0,2300000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1
0,102.0,김존형,60.0,A1,S,NaN,8346000.0,2004-05-02 0:00,상암,서울 마포구 매봉산로,저장소구축,이사,2004,5,2
5,107.0,윤문옹,50.0,A1,S,102.0,7090000.0,2018-08-19 0:00,상암,서울 마포구 매봉산로,저장소구축,부장,2018,8,19
6,108.0,엄자호,50.0,A1,E,103.0,6400000.0,2018-02-24 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2018,2,24
1,103.0,유광전,50.0,A1,E,NaN,8900000.0,2006-12-06 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2006,12,6
3,105.0,임기옹,30.0,A1,E,103.0,10000000.0,2011-04-23 0:00,상암,서울 마포구 매봉산로,수집통합,과장,2011,4,23
16,117.0,김123,50.0,A1,E,103.0,9012530.0,2020-09-07 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2020,9,7
17,118.0,안청,50.0,A1,E,103.0,9553200.0,2020-09-07 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2020,9,7
4,106.0,윤영삭,20.0,A1,G,101.0,4400000.0,2016-01-09 0:00,상암,서울 마포구 매봉산로,거버넌스,대리,2016,1,9
2,104.0,김은목,50.0,A1,G,101.0,5430000.0,2012-09-14 0:00,상암,서울 마포구 매봉산로,거버넌스,부장,2012,9,14
13,115.0,정샤인,10.0,A1,G,103.0,2350000.0,2020-08-20 0:00,상암,서울 마포구 매봉산로,거버넌스,사원,2020,8,20
14,116.0,문산윤,10.0,A1,G,103.0,2350000.0,2020-08-20 0:00,상암,서울 마포구 매봉산로,거버넌스,사원,2020,8,20
15,101.0,허잔석,60.0,A1,G,NaN,8530000.0,2001-03-07 0:00,상암,서울 마포구 매봉산로,거버넌스,이사,2001,3,7
12,114.0,한술,10.0,B1,T,101.0,2500000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,NaN,사원,2020,8,1

In [54]:
group19=['부서명','사원명','입사일']
company.loc[:,group19]

      부서명   사원명              입사일
0   저장소구축   김존형  2004-05-02 0:00
1    수집통합   유광전  2006-12-06 0:00
2    거버넌스   김은목  2012-09-14 0:00
3    수집통합   임기옹  2011-04-23 0:00
4    거버넌스   윤영삭  2016-01-09 0:00
5   저장소구축   윤문옹  2018-08-19 0:00
6    수집통합   엄자호  2018-02-24 0:00
7    현황조사   서겸민  2020-06-10 0:00
8    현황조사   김민삭  2020-08-01 0:00
9    현황조사   한요리  2020-08-01 0:00
10   현황조사    공햔  2020-08-01 0:00
11   현황조사   김재양  2020-08-01 0:00
12    NaN    한술  2020-08-01 0:00
13   거버넌스   정샤인  2020-08-20 0:00
14   거버넌스   문산윤  2020-08-20 0:00
15   거버넌스   허잔석  2001-03-07 0:00
16   수집통합  김123  2020-09-07 0:00
17   수집통합    안청  2020-09-07 0:00

# 20. 부서명과 부서별 사원의 총인원수를 출력하시오

In [55]:
group20= ['부서명']
quiz20 = company.groupby(by=group20)[["사원명"]].agg(["count"])
quiz20

        사원명
      count
부서명
거버넌스      5
수집통합      5
저장소구축     2
현황조사      5

# 21. 사원명을 출력하되 급여가 100만원 미만이면 0, 100만원~200만원 사이면 200, 200만원~300만원이면 300...(구간대를 1000만원까지) 을 함께 출력하시오(사원별 급여구간)

In [56]:

# company['result'] = company.loc[(company.급여 < 1000000), 'result']= 0
# company['result'] = company.loc[(company.급여 >= 1000000) & (company.급여 < 2000000), 'result']= 200
# company['result'] = company.loc[(company.급여 >= 2000000) & (company.급여 < 3000000), 'result']= 300
# company['result'] = company.loc[(company.급여 >= 3000000) & (company.급여 < 4000000), 'result']= 400
# company['result'] = company.loc[(company.급여 >= 4000000) & (company.급여 < 5000000), 'result']= 500
# company['result'] = company.loc[(company.급여 >= 5000000) & (company.급여 < 6000000), 'result']= 600
# company['result'] = company.loc[(company.급여 >= 6000000) & (company.급여 < 7000000), 'result']= 700
# company['result'] = company.loc[(company.급여 >= 7000000) & (company.급여 < 8000000), 'result']= 800
# company['result'] = company.loc[(company.급여 >= 8000000) & (company.급여 < 9000000), 'result']= 900
# company.loc[(company.급여 >= 9000000) & (company.급여 < 10000000), 'result']= 1000

# 22. 사원이 속한 모든 부서의 부서별 부서명과 급여합을 출력하시오

In [57]:
condition22 = ['사원']
condi22 = company.loc[company.직급명.isin(condition22)]
condi22

,사원번호,사원명,직급코드,근무지코드,부서코드,상급자사원번호,급여,입사일,근무지명,근무지주소,부서명,직급명,입사년도,입사월,입사일자
8,110.0,김민삭,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1
9,111.0,한요리,10.0,B1,C,101.0,2300000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1
10,112.0,공햔,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1
11,113.0,김재양,10.0,B1,C,101.0,2400000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1
12,114.0,한술,10.0,B1,T,101.0,2500000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,NaN,사원,2020,8,1
13,115.0,정샤인,10.0,A1,G,103.0,2350000.0,2020-08-20 0:00,상암,서울 마포구 매봉산로,거버넌스,사원,2020,8,20
14,116.0,문산윤,10.0,A1,G,103.0,2350000.0,2020-08-20 0:00,상암,서울 마포구 매봉산로,거버넌스,사원,2020,8,20

In [58]:
group22 = ['부서명']
condi22.loc[:,group22]

     부서명
8   현황조사
9   현황조사
10  현황조사
11  현황조사
12   NaN
13  거버넌스
14  거버넌스

In [59]:
quiz22 = condi22.groupby(by=group22)[["급여"]].agg(["sum"])
quiz22

             급여
            sum
부서명
거버넌스  4700000.0
현황조사  9100000.0

# 23. 부서별 부서명, 최소급여, 최대급여 출력하시오

In [60]:
group23 = ['부서명']
company.groupby(by=group23)[["급여"]].agg(["max","min"])

               급여
              max        min
부서명
거버넌스    8530000.0  2350000.0
수집통합   10000000.0  6400000.0
저장소구축   8346000.0  7090000.0
현황조사    3100000.0  2200000.0

# 24. 전체 사원을 대상으로 사원번호, 사원명, 상급자사원번호, 상급자사원명을 출력하시오(상급자사원번호가 없는 사원이 상급자임)

In [61]:
group24 = ['사원번호','사원명', '상급자사원번호']
quiz24 = company.loc[:,group24]

In [62]:
company

,사원번호,사원명,직급코드,근무지코드,부서코드,상급자사원번호,급여,입사일,근무지명,근무지주소,부서명,직급명,입사년도,입사월,입사일자
0,102.0,김존형,60.0,A1,S,NaN,8346000.0,2004-05-02 0:00,상암,서울 마포구 매봉산로,저장소구축,이사,2004,5,2
1,103.0,유광전,50.0,A1,E,NaN,8900000.0,2006-12-06 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2006,12,6
2,104.0,김은목,50.0,A1,G,101.0,5430000.0,2012-09-14 0:00,상암,서울 마포구 매봉산로,거버넌스,부장,2012,9,14
3,105.0,임기옹,30.0,A1,E,103.0,10000000.0,2011-04-23 0:00,상암,서울 마포구 매봉산로,수집통합,과장,2011,4,23
4,106.0,윤영삭,20.0,A1,G,101.0,4400000.0,2016-01-09 0:00,상암,서울 마포구 매봉산로,거버넌스,대리,2016,1,9
5,107.0,윤문옹,50.0,A1,S,102.0,7090000.0,2018-08-19 0:00,상암,서울 마포구 매봉산로,저장소구축,부장,2018,8,19
6,108.0,엄자호,50.0,A1,E,103.0,6400000.0,2018-02-24 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2018,2,24
7,109.0,서겸민,20.0,B1,C,101.0,3100000.0,2020-06-10 0:00,시청,서울 중구 서소문로 89,현황조사,대리,2020,6,10
8,110.0,김민삭,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1
9,111.0,한요리,10.0,B1,C,101.0,2300000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1
10,112.0,공햔,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1
11,113.0,김재양,10.0,B1,C,101.0,2400000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1
12,114.0,한술,10.0,B1,T,101.0,2500000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,NaN,사원,2020,8,1
13,115.0,정샤인,10.0,A1,G,103.0,2350000.0,2020-08-20 0:00,상암,서울 마포구 매봉산로,거버넌스,사원,2020,8,20
14,116.0,문산윤,10.0,A1,G,103.0,2350000.0,2020-08-20 0:00,상암,서울 마포구 매봉산로,거버넌스,사원,2020,8,20
15,101.0,허잔석,60.0,A1,G,NaN,8530000.0,2001-03-07 0:00,상암,서울 마포구 매봉산로,거버넌스,이사,2001,3,7
16,117.0,김123,50.0,A1,E,103.0,9012530.0,2020-09-07 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2020,9,7
17,118.0,안청,50.0,A1,E,103.0,9553200.0,2020-09-07 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2020,9,7

In [63]:
quiz24

     사원번호   사원명  상급자사원번호
0   102.0   김존형      NaN
1   103.0   유광전      NaN
2   104.0   김은목    101.0
3   105.0   임기옹    103.0
4   106.0   윤영삭    101.0
5   107.0   윤문옹    102.0
6   108.0   엄자호    103.0
7   109.0   서겸민    101.0
8   110.0   김민삭    101.0
9   111.0   한요리    101.0
10  112.0    공햔    101.0
11  113.0   김재양    101.0
12  114.0    한술    101.0
13  115.0   정샤인    103.0
14  116.0   문산윤    103.0
15  101.0   허잔석      NaN
16  117.0  김123    103.0
17  118.0    안청    103.0

In [64]:
quiz24["상급자사원명"] = np.where(quiz24.상급자사원번호 == 101, '허잔석', np.where(quiz24.상급자사원번호 == 102, '김존형' , np.where(quiz24.상급자사원번호 == 103, '유광전' , quiz24.상급자사원번호)))

In [65]:
quiz24

     사원번호   사원명  상급자사원번호 상급자사원명
0   102.0   김존형      NaN    nan
1   103.0   유광전      NaN    nan
2   104.0   김은목    101.0    허잔석
3   105.0   임기옹    103.0    유광전
4   106.0   윤영삭    101.0    허잔석
5   107.0   윤문옹    102.0    김존형
6   108.0   엄자호    103.0    유광전
7   109.0   서겸민    101.0    허잔석
8   110.0   김민삭    101.0    허잔석
9   111.0   한요리    101.0    허잔석
10  112.0    공햔    101.0    허잔석
11  113.0   김재양    101.0    허잔석
12  114.0    한술    101.0    허잔석
13  115.0   정샤인    103.0    유광전
14  116.0   문산윤    103.0    유광전
15  101.0   허잔석      NaN    nan
16  117.0  김123    103.0    유광전
17  118.0    안청    103.0    유광전

# 25. 상급자사원명이 '허잔석' 인 사원들의 부서명별 급여평균을 출력하시오

In [66]:
company["상급자사원명"] = np.where(quiz24.상급자사원번호 == 101, '허잔석', np.where(quiz24.상급자사원번호 == 102, '김존형' , np.where(quiz24.상급자사원번호 == 103, '유광전' , quiz24.상급자사원번호)))

In [67]:
company

,사원번호,사원명,직급코드,근무지코드,부서코드,상급자사원번호,급여,입사일,근무지명,근무지주소,부서명,직급명,입사년도,입사월,입사일자,상급자사원명
0,102.0,김존형,60.0,A1,S,NaN,8346000.0,2004-05-02 0:00,상암,서울 마포구 매봉산로,저장소구축,이사,2004,5,2,nan
1,103.0,유광전,50.0,A1,E,NaN,8900000.0,2006-12-06 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2006,12,6,nan
2,104.0,김은목,50.0,A1,G,101.0,5430000.0,2012-09-14 0:00,상암,서울 마포구 매봉산로,거버넌스,부장,2012,9,14,허잔석
3,105.0,임기옹,30.0,A1,E,103.0,10000000.0,2011-04-23 0:00,상암,서울 마포구 매봉산로,수집통합,과장,2011,4,23,유광전
4,106.0,윤영삭,20.0,A1,G,101.0,4400000.0,2016-01-09 0:00,상암,서울 마포구 매봉산로,거버넌스,대리,2016,1,9,허잔석
5,107.0,윤문옹,50.0,A1,S,102.0,7090000.0,2018-08-19 0:00,상암,서울 마포구 매봉산로,저장소구축,부장,2018,8,19,김존형
6,108.0,엄자호,50.0,A1,E,103.0,6400000.0,2018-02-24 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2018,2,24,유광전
7,109.0,서겸민,20.0,B1,C,101.0,3100000.0,2020-06-10 0:00,시청,서울 중구 서소문로 89,현황조사,대리,2020,6,10,허잔석
8,110.0,김민삭,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1,허잔석
9,111.0,한요리,10.0,B1,C,101.0,2300000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1,허잔석
10,112.0,공햔,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1,허잔석
11,113.0,김재양,10.0,B1,C,101.0,2400000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1,허잔석
12,114.0,한술,10.0,B1,T,101.0,2500000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,NaN,사원,2020,8,1,허잔석
13,115.0,정샤인,10.0,A1,G,103.0,2350000.0,2020-08-20 0:00,상암,서울 마포구 매봉산로,거버넌스,사원,2020,8,20,유광전
14,116.0,문산윤,10.0,A1,G,103.0,2350000.0,2020-08-20 0:00,상암,서울 마포구 매봉산로,거버넌스,사원,2020,8,20,유광전
15,101.0,허잔석,60.0,A1,G,NaN,8530000.0,2001-03-07 0:00,상암,서울 마포구 매봉산로,거버넌스,이사,2001,3,7,nan
16,117.0,김123,50.0,A1,E,103.0,9012530.0,2020-09-07 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2020,9,7,유광전
17,118.0,안청,50.0,A1,E,103.0,9553200.0,2020-09-07 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2020,9,7,유광전

In [68]:
quiz25 = company.loc[company.상급자사원명 == '허잔석']
quiz25

,사원번호,사원명,직급코드,근무지코드,부서코드,상급자사원번호,급여,입사일,근무지명,근무지주소,부서명,직급명,입사년도,입사월,입사일자,상급자사원명
2,104.0,김은목,50.0,A1,G,101.0,5430000.0,2012-09-14 0:00,상암,서울 마포구 매봉산로,거버넌스,부장,2012,9,14,허잔석
4,106.0,윤영삭,20.0,A1,G,101.0,4400000.0,2016-01-09 0:00,상암,서울 마포구 매봉산로,거버넌스,대리,2016,1,9,허잔석
7,109.0,서겸민,20.0,B1,C,101.0,3100000.0,2020-06-10 0:00,시청,서울 중구 서소문로 89,현황조사,대리,2020,6,10,허잔석
8,110.0,김민삭,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1,허잔석
9,111.0,한요리,10.0,B1,C,101.0,2300000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1,허잔석
10,112.0,공햔,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1,허잔석
11,113.0,김재양,10.0,B1,C,101.0,2400000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1,허잔석
12,114.0,한술,10.0,B1,T,101.0,2500000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,NaN,사원,2020,8,1,허잔석

In [69]:
group25=['부서명']
quiz25.groupby(by=group25)[['급여']].agg("mean")

             급여
부서명
거버넌스  4915000.0
현황조사  2440000.0

# 26. 부서별 급여의 합이 1억원이 넘는 부서의 부서명과 해당 부서의 급여합을 출력하시오

In [70]:
group26=['부서명']
quiz26 =company.groupby(by=group26)[['급여']].agg("sum")
quiz26

               급여
부서명
거버넌스   23060000.0
수집통합   43865730.0
저장소구축  15436000.0
현황조사   12200000.0

In [71]:
quiz26.loc[quiz26.급여 > 100000000]

Empty DataFrame
Columns: [급여]
Index: []

# 27. 전체 사원을 대상으로 부서별 사원수가 2명 미만인 부서의 부서코드, 부서명, 사원수를 출력하시오(부서명이 없으면 '부서명없음'으로 출력)

In [78]:
# company['부서명'].map({'G':'거버넌스',
#                                      'E':'수집통합',
#                                      'S':'저장소구축',
#                                      'C':'현황조사',
#                                      np.nan:'부서명없음'},
#                   na_action=None)

In [109]:

group27=['부서코드','부서명']
quiz27 =company.fillna('부서명없음').groupby(by=group27)[['사원명']].agg("count")

In [110]:
quiz27.loc[quiz27.사원명 < 2]

            사원명
부서코드 부서명
T    부서명없음    1

# 28. 부서별로 부서코드, 부서명, 사원수를 출력하되 부서명이 존재 하지 않으면 부서명은 '부서명없음', 사원수를 0으로 출력하시오

In [112]:
group28=['부서코드','부서명']
quiz28 =company.fillna('부서명없음').groupby(by=group28)[['사원명']].agg("count")
quiz28

            사원명
부서코드 부서명
C    현황조사     5
E    수집통합     5
G    거버넌스     5
S    저장소구축    2
T    부서명없음    1

<!-- 29. 가장 많은 사원을 데리고 있는 상급자의 상급자명, 부서명을 출력하시오 -->

# 29. 가장 많은 사원을 데리고 있는 상급자의 상급자명, 부서명을 출력하시오

In [115]:
group29=['상급자사원명']
quiz29= company.groupby(by=group29)[['사원명']].agg("count")
quiz29

        사원명
상급자사원명
nan       3
김존형       1
유광전       6
허잔석       8

In [119]:
targetInfo = company.loc[company.사원명 == '허잔석']

In [120]:
group29=['사원명','부서명']
targetInfo.loc[:,group29]

    사원명   부서명
15  허잔석  거버넌스

# 30. 부서명이 등록되지 않은 사원과 직급이 같고 현황조사를 하고 있는 사원의 사원명, 직급명을 출력하시오

In [134]:
target30 = company.loc[company.부서명.isnull()]
target30

,사원번호,사원명,직급코드,근무지코드,부서코드,상급자사원번호,급여,입사일,근무지명,근무지주소,부서명,직급명,입사년도,입사월,입사일자,상급자사원명
12,114.0,한술,10.0,B1,T,101.0,2500000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,NaN,사원,2020,8,1,허잔석

In [136]:
quiz30 = company.loc[('사원' == company.직급명) & (company.부서명 == '현황조사') ]
quiz30

,사원번호,사원명,직급코드,근무지코드,부서코드,상급자사원번호,급여,입사일,근무지명,근무지주소,부서명,직급명,입사년도,입사월,입사일자,상급자사원명
8,110.0,김민삭,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1,허잔석
9,111.0,한요리,10.0,B1,C,101.0,2300000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1,허잔석
10,112.0,공햔,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1,허잔석
11,113.0,김재양,10.0,B1,C,101.0,2400000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1,허잔석

In [137]:
group30 = ['사원명','직급명']
quiz30.loc[:,group30]

    사원명 직급명
8   김민삭  사원
9   한요리  사원
10   공햔  사원
11  김재양  사원

# 31. 직급별로 최소 급여를 받고 있는 사원의 사원번호, 사원명, 부서명, 급여를 급여의 내림차순 정렬로 출력하시오

In [153]:
condition31 = ['직급명']
condi33 = company.groupby(by=condition31)[['급여']].agg('min')
condi33

             급여
직급명
과장   10000000.0
대리    3100000.0
부장    5430000.0
사원    2200000.0
이사    8346000.0

In [154]:
company.loc[(company.직급명 == '과장') & (company.급여 == 10000000.0)]

,사원번호,사원명,직급코드,근무지코드,부서코드,상급자사원번호,급여,입사일,근무지명,근무지주소,부서명,직급명,입사년도,입사월,입사일자,상급자사원명
3,105.0,임기옹,30.0,A1,E,103.0,10000000.0,2011-04-23 0:00,상암,서울 마포구 매봉산로,수집통합,과장,2011,4,23,유광전

In [155]:
company.loc[(company.직급명 == '대리') & (company.급여 == 3100000.0)]

,사원번호,사원명,직급코드,근무지코드,부서코드,상급자사원번호,급여,입사일,근무지명,근무지주소,부서명,직급명,입사년도,입사월,입사일자,상급자사원명
7,109.0,서겸민,20.0,B1,C,101.0,3100000.0,2020-06-10 0:00,시청,서울 중구 서소문로 89,현황조사,대리,2020,6,10,허잔석

In [156]:
company.loc[(company.직급명 == '부장') & (company.급여 == 5430000.0)]

,사원번호,사원명,직급코드,근무지코드,부서코드,상급자사원번호,급여,입사일,근무지명,근무지주소,부서명,직급명,입사년도,입사월,입사일자,상급자사원명
2,104.0,김은목,50.0,A1,G,101.0,5430000.0,2012-09-14 0:00,상암,서울 마포구 매봉산로,거버넌스,부장,2012,9,14,허잔석

In [157]:
company.loc[(company.직급명 == '사원') & (company.급여 == 2200000.0)]

,사원번호,사원명,직급코드,근무지코드,부서코드,상급자사원번호,급여,입사일,근무지명,근무지주소,부서명,직급명,입사년도,입사월,입사일자,상급자사원명
8,110.0,김민삭,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1,허잔석
10,112.0,공햔,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1,허잔석

In [158]:
company.loc[(company.직급명 == '이사') & (company.급여 == 8346000.0)]

,사원번호,사원명,직급코드,근무지코드,부서코드,상급자사원번호,급여,입사일,근무지명,근무지주소,부서명,직급명,입사년도,입사월,입사일자,상급자사원명
0,102.0,김존형,60.0,A1,S,NaN,8346000.0,2004-05-02 0:00,상암,서울 마포구 매봉산로,저장소구축,이사,2004,5,2,nan

# 32. 각 사원의 시급을 계산(근무일수 20일, 9시간근무, 소수 첫번째 자리에서 반올림)해서 부서명, 사원명, 직급명, 시급을 부서명별, 시급이 많은 순으로 출력하시오

In [172]:
company['시급']=round(company.급여/(20*9))

In [182]:
group32=['부서명','사원명','직급명','시급']
quiz32=company.loc[:,group32]
sortKey = ['부서명','시급']
quiz32.sort_values(by=sortKey,ascending=False)

      부서명   사원명 직급명       시급
7    현황조사   서겸민  대리  17222.0
11   현황조사   김재양  사원  13333.0
9    현황조사   한요리  사원  12778.0
8    현황조사   김민삭  사원  12222.0
10   현황조사    공햔  사원  12222.0
0   저장소구축   김존형  이사  46367.0
5   저장소구축   윤문옹  부장  39389.0
3    수집통합   임기옹  과장  55556.0
17   수집통합    안청  부장  53073.0
16   수집통합  김123  부장  50070.0
1    수집통합   유광전  부장  49444.0
6    수집통합   엄자호  부장  35556.0
15   거버넌스   허잔석  이사  47389.0
2    거버넌스   김은목  부장  30167.0
4    거버넌스   윤영삭  대리  24444.0
13   거버넌스   정샤인  사원  13056.0
14   거버넌스   문산윤  사원  13056.0
12    NaN    한술  사원  13889.0

# 33. 직급별 입사일이 가장 오래된 사원에 대해 사원명, 직급명, 입사년도를 출력하시오

In [188]:
group33=['직급명']
company.groupby(by=group33)[['입사년도']].agg("min")

     입사년도
직급명
과장   2011
대리   2016
부장   2006
사원   2020
이사   2001

In [187]:
company

,사원번호,사원명,직급코드,근무지코드,부서코드,상급자사원번호,급여,입사일,근무지명,근무지주소,부서명,직급명,입사년도,입사월,입사일자,상급자사원명,시급
0,102.0,김존형,60.0,A1,S,NaN,8346000.0,2004-05-02 0:00,상암,서울 마포구 매봉산로,저장소구축,이사,2004,5,2,nan,46367.0
1,103.0,유광전,50.0,A1,E,NaN,8900000.0,2006-12-06 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2006,12,6,nan,49444.0
2,104.0,김은목,50.0,A1,G,101.0,5430000.0,2012-09-14 0:00,상암,서울 마포구 매봉산로,거버넌스,부장,2012,9,14,허잔석,30167.0
3,105.0,임기옹,30.0,A1,E,103.0,10000000.0,2011-04-23 0:00,상암,서울 마포구 매봉산로,수집통합,과장,2011,4,23,유광전,55556.0
4,106.0,윤영삭,20.0,A1,G,101.0,4400000.0,2016-01-09 0:00,상암,서울 마포구 매봉산로,거버넌스,대리,2016,1,9,허잔석,24444.0
5,107.0,윤문옹,50.0,A1,S,102.0,7090000.0,2018-08-19 0:00,상암,서울 마포구 매봉산로,저장소구축,부장,2018,8,19,김존형,39389.0
6,108.0,엄자호,50.0,A1,E,103.0,6400000.0,2018-02-24 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2018,2,24,유광전,35556.0
7,109.0,서겸민,20.0,B1,C,101.0,3100000.0,2020-06-10 0:00,시청,서울 중구 서소문로 89,현황조사,대리,2020,6,10,허잔석,17222.0
8,110.0,김민삭,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1,허잔석,12222.0
9,111.0,한요리,10.0,B1,C,101.0,2300000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1,허잔석,12778.0
10,112.0,공햔,10.0,B1,C,101.0,2200000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1,허잔석,12222.0
11,113.0,김재양,10.0,B1,C,101.0,2400000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,현황조사,사원,2020,8,1,허잔석,13333.0
12,114.0,한술,10.0,B1,T,101.0,2500000.0,2020-08-01 0:00,시청,서울 중구 서소문로 89,NaN,사원,2020,8,1,허잔석,13889.0
13,115.0,정샤인,10.0,A1,G,103.0,2350000.0,2020-08-20 0:00,상암,서울 마포구 매봉산로,거버넌스,사원,2020,8,20,유광전,13056.0
14,116.0,문산윤,10.0,A1,G,103.0,2350000.0,2020-08-20 0:00,상암,서울 마포구 매봉산로,거버넌스,사원,2020,8,20,유광전,13056.0
15,101.0,허잔석,60.0,A1,G,NaN,8530000.0,2001-03-07 0:00,상암,서울 마포구 매봉산로,거버넌스,이사,2001,3,7,nan,47389.0
16,117.0,김123,50.0,A1,E,103.0,9012530.0,2020-09-07 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2020,9,7,유광전,50070.0
17,118.0,안청,50.0,A1,E,103.0,9553200.0,2020-09-07 0:00,상암,서울 마포구 매봉산로,수집통합,부장,2020,9,7,유광전,53073.0