# 두개의 테이블에서 “부대상납세자통합코드” 같은 경우에만 메인테이블의 “부대상납세자통합코드”를 
# 주납세자 통합코드로 변경한 컬럼을 생성한다
# (새로 생성한 컬럼명: new_sutatin 
# 메인테이블: joindata1
# 참조테이블: joindata2

In [21]:
import pandas as pd
import numpy as np

#join1 파일 불러오기
join1 = pd.read_csv("210607/joindata1.csv", encoding="utf8")
join1

#join2 파일 불러오기
join2 = pd.read_csv("210607/joindata2.csv", encoding="ms949")
join2

#suta_tin의 값이 join1의 값에 맞게 조회되게끔 조인
join=pd.merge(left = join1, right = join2, on = 'suta_tin', how='left')

#new_sutatin을 새로 만들어 mata_tin의 값을 넣어줌
join["new_sutatin"] = join1.mata_tin

join

,mata_tin_x,mata_txpr_sex_cd,mate_mdf_yn,mate_srcs_cntn_x,mem_rit_cd,rit_end_dt_x,rit_strt_dt_x,suta_tin,suta_txpr_sex_cd,mata_tin_y,mate_srcs_cntn_y,rit_end_dt_y,rit_strt_dt_y,txpr_rlt_cd,new_sutatin
0,153601000000,3,Y,대법원가족관계,2,99991231,20190107,153403000000,2,1.531010e+11,납세자관계,99991231.0,10101.0,22.0,1.536010e+11
1,153601000000,3,Y,대법원가족관계,2,99991231,20190107,153403000000,2,1.531010e+11,납세자관계,99991231.0,10101.0,32.0,1.541020e+11
2,154102000000,3,Y,대법원가족관계,1,99991231,20190107,153460000000,1,NaN,NaN,NaN,NaN,NaN,1.535000e+11
3,153500000000,3,Y,대법원가족관계,2,99991231,20190107,154202000000,2,NaN,NaN,NaN,NaN,NaN,1.550000e+11
4,155000000000,3,Y,대법원가족관계,2,99991231,20190107,154302000000,2,NaN,NaN,NaN,NaN,NaN,1.535000e+11
5,153500000000,3,Y,대법원가족관계,2,99991231,20190107,153603000000,2,NaN,NaN,NaN,NaN,NaN,1.000260e+11
6,100026000000,3,Y,대법원가족관계,1,99991231,20190107,153103000000,1,NaN,NaN,NaN,NaN,NaN,1.535000e+11
7,153500000000,3,Y,대법원가족관계,2,99991231,20190107,154302000000,2,NaN,NaN,NaN,NaN,NaN,1.535000e+11
8,153500000000,3,Y,대법원가족관계,2,99991231,20190107,153202000000,2,NaN,NaN,NaN,NaN,NaN,1.535000e+11
9,153500000000,3,Y,대법원가족관계,2,99991231,20190107,153302000000,2,NaN,NaN,NaN,NaN,NaN,1.535000e+11
10,153500000000,3,Y,대법원가족관계,2,99991231,20190107,154802000000,2,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# 오라클 - 대문자
# postgresql - 소문자
# mariaDB - 대소문자

In [ ]:
join.to_sql(con=engine,
           name="JOINDATA1_HDK",
           if_exists=)