# 1. 라이브러리 선언

In [1]:
import pandas as pd
import numpy as np

# 2. 데이터 불러오기

In [2]:
csData = pd.read_csv("../dataset/customerdata.csv", encoding="ms949")
csData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[150 rows x 6 columns]

In [3]:
csData.info() # csData의 정보

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CUSTID       150 non-null    object
 1   AVGPRICE     150 non-null    float64
 2   EMI          150 non-null    int64
 3   DEVICECOUNT  150 non-null    int64
 4   PRODUCTAGE   150 non-null    float64
 5   CUSTTYPE     150 non-null    object
dtypes: float64(2), int64(2), object(2)
memory usage: 7.2+ KB

In [4]:
csData.head() # csData의 상위 5개 행 (괄호 안에 숫자를 입력 안하면 기본적으로 5개를 보여줌)

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog
3  A16605  3713.211107    2            6    0.900000        Early-bird
4  B10634  3391.074215    2            4    2.453656      Sleeping-dog

In [5]:
csDataEMI3 = csData.loc[csData.EMI >= 3] #EMI가 3이상인 행만 조회
csDataEMI3

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
27   F17131  3179.708359    3            6    1.100000        Early-bird
33   G16437  3787.328898    3            6    1.000000        Early-bird
36   G18402  3402.199381    3            6    1.000000        Early-bird
40   H16326  3988.935304    3            6    0.900000        Early-bird
45   I12899  3018.895637    3            6    0.900000        Early-bird
51   J10809  3676.135627    3            6    0.800000        Early-bird
52   J15083  2811.265932    3            6    0.900000        Early-bird
53   J16445  3041.848186    3            6    0.800000        Early-bird
60   L13892  3263.515145    3            6    1.100000        Early-bird
67   N13273  3839.694732    3            6    1.100000        Early-bird
95   R16364  3592.353540    3            6    0.900000        Early-bird
107  S17396  3895.200000    3            6    2.055707  Big-Screen-lover
113  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
126  V18566  3527.701867    3            6    0.900000        Early-bird
130  W13404  4296.873743    3            6    1.100000        Early-bird
135  X13390  2947.543982    3            6    1.100000        Early-bird
142  Z11525  3259.018704    3            6    0.900000        Early-bird
146  Z13534  3662.437527    3            6    0.900000        Early-bird

In [6]:
csData.shape # 150개의 행과 6개의 열

(150, 6)

In [7]:
csDataEMI3.shape # EMI가 3이상인 행은 19개임을 알 수 있다

(19, 6)

In [8]:
csData.loc[0:3] # 0부터 3까지의 인덱스인 행만 조회

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog
3  A16605  3713.211107    2            6    0.900000        Early-bird

In [9]:
csData.loc[(csData.EMI >= 3) &(csData.AVGPRICE > 3500)] # EMI가 3이상이고 AVGPRICE가 3500보다 큰 행만 조회
# 조건이 여러 개일 경우 각 조건을 괄호로 감싸주고 and는 &를 , or는 |를 넣어준다.

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
33   G16437  3787.328898    3            6    1.000000        Early-bird
40   H16326  3988.935304    3            6    0.900000        Early-bird
51   J10809  3676.135627    3            6    0.800000        Early-bird
67   N13273  3839.694732    3            6    1.100000        Early-bird
95   R16364  3592.353540    3            6    0.900000        Early-bird
107  S17396  3895.200000    3            6    2.055707  Big-Screen-lover
113  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
126  V18566  3527.701867    3            6    0.900000        Early-bird
130  W13404  4296.873743    3            6    1.100000        Early-bird
146  Z13534  3662.437527    3            6    0.900000        Early-bird

In [10]:
inputId = "a13566"

In [11]:
csData.loc[csData.CUSTID.str.lower() == inputId.lower()] # 데이터프레임에서 .str을 써주면 대부분의 문자열 연산이 가능하다

   CUSTID  AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566    4273.9    3            6    1.679181  Big-Screen-lover

In [12]:
csData.EMI = csData.EMI.astype(str) # EMI열을 문자열로 변환하여 기존에 EMI행에 적용해줌

In [13]:
csData.dtypes

CUSTID          object
AVGPRICE       float64
EMI             object
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [14]:
csData.EMI = csData.EMI.astype(int) # EMI열을 원래의 자료형으로 돌려줌
csData.dtypes

CUSTID          object
AVGPRICE       float64
EMI              int32
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [15]:
csData["EMI2"] = csData["EMI"].astype(float) #기존 EMI열을 실수형으로 바꿔 EMI2열을 새로 만듬
csData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE  EMI2
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover   3.0
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog   2.0
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog   2.0
3    A16605  3713.211107    2            6    0.900000        Early-bird   2.0
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog   2.0
..      ...          ...  ...          ...         ...               ...   ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover   2.0
146  Z13534  3662.437527    3            6    0.900000        Early-bird   3.0
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover   2.0
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover   2.0
149  Z19835  3326.526183    2            6    1.200000        Early-bird   2.0

[150 rows x 7 columns]

In [16]:
csDataType = csData.astype({"CUSTID":str, # 데이터프레임의 모든 열을 문자열로 바꿔줌
              "AVGPRICE":str,
              "EMI":str,
              "DEVICECOUNT":str,
              "PRODUCTAGE":str,
              "CUSTTYPE":str,
              "EMI2":str})
csDataType.dtypes

CUSTID         object
AVGPRICE       object
EMI            object
DEVICECOUNT    object
PRODUCTAGE     object
CUSTTYPE       object
EMI2           object
dtype: object

In [17]:
emiCondition = "3"
priceCondition = "3500"

In [18]:
csData2 = csData.loc[(csData.EMI.astype(str) >= str(emiCondition)) &     # 조건식으로 검색할 경우 잠시동안만 str형태로 변환하여 조건검색
                    (csData.AVGPRICE.astype(str) > str(priceCondition))]
csData2.dtypes

CUSTID          object
AVGPRICE       float64
EMI              int32
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
EMI2           float64
dtype: object

In [19]:
testDf = ["A"]

In [20]:
answer1 = csData[ csData.CUSTID.isin(testDf) ] # testDf가 포함되어 있냐는 조건
answer2 = csData[ ~ csData.CUSTID.isin(testDf) ] # testDf를 포함하지 않느냐는 조건("~"를 쓰면 반대의 의미, not in)
answer1

Empty DataFrame
Columns: [CUSTID, AVGPRICE, EMI, DEVICECOUNT, PRODUCTAGE, CUSTTYPE, EMI2]
Index: []

In [21]:
angryCustomer = pd.DataFrame(list(csData.CUSTID[0:3]),columns = ["CSID"])
#0부터 3컬럼 전까지를 하나의 리스트로 만들어주고 컬럼명을 "CSID"로 정의

In [22]:
angryList = list(angryCustomer.CSID)
#위에서 만든 리스트를 재정의

In [23]:
csData.loc[csData.CUSTID.isin(angryList)] #angryList를 포함한 경우

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE  EMI2
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover   3.0
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog   2.0
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog   2.0

In [24]:
csData.loc[~csData.CUSTID.isin(angryList)] #angryList를 포함하지 않은 경우

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE  EMI2
3    A16605  3713.211107    2            6    0.900000        Early-bird   2.0
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog   2.0
5    B16849  3755.263391    2            4    2.786665      Sleeping-dog   2.0
6    B18816  3213.911446    2            6    0.900000        Early-bird   2.0
7    C10639  3516.500000    2            5    2.564830  Big-Screen-lover   2.0
..      ...          ...  ...          ...         ...               ...   ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover   2.0
146  Z13534  3662.437527    3            6    0.900000        Early-bird   3.0
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover   2.0
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover   2.0
149  Z19835  3326.526183    2            6    1.200000        Early-bird   2.0

[147 rows x 7 columns]

In [25]:
specificIndex = [1,3]

In [26]:
answer1 = csData.loc[specificIndex] # 1,3행만 조회
answer1

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE      CUSTTYPE  EMI2
1  A14219  3642.441950    2            4    2.682023  Sleeping-dog   2.0
3  A16605  3713.211107    2            6    0.900000    Early-bird   2.0

In [27]:
answer2 = csData.loc[1:3] #1부터 3행까지만 조회
answer2

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE      CUSTTYPE  EMI2
1  A14219  3642.441950    2            4    2.682023  Sleeping-dog   2.0
2  A15312  3653.884565    2            5    3.208202  Sleeping-dog   2.0
3  A16605  3713.211107    2            6    0.900000    Early-bird   2.0

In [28]:
answer3 = csData.loc[:] # 3 전체행 조회
answer3

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE  EMI2
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover   3.0
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog   2.0
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog   2.0
3    A16605  3713.211107    2            6    0.900000        Early-bird   2.0
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog   2.0
..      ...          ...  ...          ...         ...               ...   ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover   2.0
146  Z13534  3662.437527    3            6    0.900000        Early-bird   3.0
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover   2.0
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover   2.0
149  Z19835  3326.526183    2            6    1.200000        Early-bird   2.0

[150 rows x 7 columns]

In [29]:
indexColumn = ['CUSTID','CUSTTYPE']

In [30]:
csData.loc[:,indexColumn] # 컬럼명으로만 조회하는 방법

     CUSTID          CUSTTYPE
0    A13566  Big-Screen-lover
1    A14219      Sleeping-dog
2    A15312      Sleeping-dog
3    A16605        Early-bird
4    B10634      Sleeping-dog
..      ...               ...
145  Z13253  Big-Screen-lover
146  Z13534        Early-bird
147  Z16428  Big-Screen-lover
148  Z16735  Big-Screen-lover
149  Z19835        Early-bird

[150 rows x 2 columns]

In [31]:
csData.iloc[:,4] #컬럼의 인덱스 번호로 조회하는 방법

0      1.679181
1      2.682023
2      3.208202
3      0.900000
4      2.453656
         ...
145    2.463670
146    0.900000
147    2.371301
148    1.704942
149    1.200000
Name: PRODUCTAGE, Length: 150, dtype: float64

In [32]:
csData2 = csData.copy # 데이터 프레임 복사하는 방법

In [33]:
emi3Data = csData.loc[csData.EMI == 3]
emi3Data.reset_index(drop=True,inplace=True) # 인덱스 값을 리셋하고 싶을때 reset_index를 사용하며
# 기존에 있던 index값을 비워주고 싶으면 drop을 True로 설정하고 즉시반영해주고 싶으면 inplace를 True로 설정한다.
emi3Data

    CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE  EMI2
0   A13566  4273.900000    3            6    1.679181  Big-Screen-lover   3.0
1   F17131  3179.708359    3            6    1.100000        Early-bird   3.0
2   G16437  3787.328898    3            6    1.000000        Early-bird   3.0
3   G18402  3402.199381    3            6    1.000000        Early-bird   3.0
4   H16326  3988.935304    3            6    0.900000        Early-bird   3.0
5   I12899  3018.895637    3            6    0.900000        Early-bird   3.0
6   J10809  3676.135627    3            6    0.800000        Early-bird   3.0
7   J15083  2811.265932    3            6    0.900000        Early-bird   3.0
8   J16445  3041.848186    3            6    0.800000        Early-bird   3.0
9   L13892  3263.515145    3            6    1.100000        Early-bird   3.0
10  N13273  3839.694732    3            6    1.100000        Early-bird   3.0
11  R16364  3592.353540    3            6    0.900000        Early-bird   3.0
12  S17396  3895.200000    3            6    2.055707  Big-Screen-lover   3.0
13  T11473  4165.700000    3            6    1.780674  Big-Screen-lover   3.0
14  V18566  3527.701867    3            6    0.900000        Early-bird   3.0
15  W13404  4296.873743    3            6    1.100000        Early-bird   3.0
16  X13390  2947.543982    3            6    1.100000        Early-bird   3.0
17  Z11525  3259.018704    3            6    0.900000        Early-bird   3.0
18  Z13534  3662.437527    3            6    0.900000        Early-bird   3.0

In [34]:
### 데이터조작방법
# 1. np.where를 조작한다. (복잡한 로직에는 힘들어진다.)
# 2. 함수를 활용하여 조작한다. (복잡한 로직에도 강하다)
# 3. loc 함수를 사용해서 조작한다. (가독성이 뛰어나나 속도가 떨어진다.)
# 4. map 함수를 사용할 수도 있다. (머신러닝에서 많이 사용된다.)

In [35]:
# np.where 방식

In [36]:
csData["PRODUCTAGE_NEW"] = np.where(csData.PRODUCTAGE < 1, 1, np.where(csData.PRODUCTAGE < 2 , 2 ,3))
#PRODUCTAGE가 1보다 작다면 PRODUCTAGE_NEW컬럼에 1을 표시하여 새 컬럼을 만듬

In [37]:
csData.loc[(csData.PRODUCTAGE < 1) &
          (csData.PRODUCTAGE_NEW !=1)]
#PRODUCTAGE_NEW컬럼이 제대로 만들어졌는지 확인하는 검증로직

Empty DataFrame
Columns: [CUSTID, AVGPRICE, EMI, DEVICECOUNT, PRODUCTAGE, CUSTTYPE, EMI2, PRODUCTAGE_NEW]
Index: []

In [42]:
#함수 사용 방식
def productValue(inValue):
    if inValue <= 1:
        return 1
    elif inValue <= 2:
        return 2
    elif inValue <= 3:
        return 3
    else:
        return 5

In [46]:
productValue(1.63)

2

In [47]:
csData["PRODUCTAGE_NEW"] = csData.PRODUCTAGE.apply(productValue) # 함수적용방식

In [48]:
csData

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,EMI2,PRODUCTAGE_NEW
0,A13566,4273.900000,3,6,1.679181,Big-Screen-lover,3.0,2
1,A14219,3642.441950,2,4,2.682023,Sleeping-dog,2.0,3
2,A15312,3653.884565,2,5,3.208202,Sleeping-dog,2.0,5
3,A16605,3713.211107,2,6,0.900000,Early-bird,2.0,1
4,B10634,3391.074215,2,4,2.453656,Sleeping-dog,2.0,3
...,...,...,...,...,...,...,...,...
145,Z13253,3678.800000,2,5,2.463670,Big-Screen-lover,2.0,3
146,Z13534,3662.437527,3,6,0.900000,Early-bird,3.0,1
147,Z16428,3516.500000,2,5,2.371301,Big-Screen-lover,2.0,3
148,Z16735,3300.100000,2,5,1.704942,Big-Screen-lover,2.0,2
149,Z19835,3326.526183,2,6,1.200000,Early-bird,2.0,2

In [ ]:
# loc 함수 방식

In [ ]:
csData.loc[csData.PRODUCTAGE < 1,
          "PRODUCTAGE_NEW"] = 1

In [157]:
csData.loc[(csData.PRODUCTAGE >= 1) &
           (csData.PRODUCTAGE < 2),
          "PRODUCTAGE_NEW"] = 2

In [158]:
csData.loc[csData.PRODUCTAGE >= 2,
          "PRODUCTAGE_NEW"] = 3

In [159]:
csData.loc[(csData.PRODUCTAGE < 1) &
          (csData.PRODUCTAGE_NEW !=1)]

Empty DataFrame
Columns: [CUSTID, AVGPRICE, EMI, DEVICECOUNT, PRODUCTAGE, CUSTTYPE, EMI2, PRODUCTAGE_NEW]
Index: []

In [160]:
# map 함수 방식

In [161]:
featuresData = pd.read_csv("../dataset/feature_regression_example.csv")

In [170]:
# map방식으로 쓸 것을 함수로 표현해보기
def ynDecimalCovert(inValue):
    if inValue =="Y":
        outValue = 1
    else :
        outValue = 0
    return outValue

In [171]:
ynMap = {"Y":1, "N":0} # HOLIDAY컬럼이 Y라면 1로 N이라면 0으로 표시

In [172]:
featuresData["HOLIDAY_NEW"] = featuresData.HOLIDAY.map(ynMap)
#새로 HOLIDAY_NEW 컬럼을 만들어서 Y와 N을 1과 0에 대칭해서 만들어줌

In [173]:
featuresData.head(2)

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT,HOLIDAY_NEW
0,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201501,2015,1,1225,Y,1,Y,0.209442,1
1,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201502,2015,2,968,N,4,Y,0.209442,0

In [182]:
csData["NEW_COLUMN"] = csData.CUSTID + "_" +csData.EMI.astype(str)
# CUSTID와 EMI 컬럼을 언더바로연결하여 NEW_COLUMN을 새로 만들어줌
# EMI컬럼이 숫자형이기 때문이 임시로 문자열로 바꿔서 연결해줌

In [183]:
csData

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,EMI2,PRODUCTAGE_NEW,NEW_COLUMN
0,A13566,4273.900000,3,6,1.679181,Big-Screen-lover,3.0,2,A13566_3
1,A14219,3642.441950,2,4,2.682023,Sleeping-dog,2.0,3,A14219_2
2,A15312,3653.884565,2,5,3.208202,Sleeping-dog,2.0,3,A15312_2
3,A16605,3713.211107,2,6,0.900000,Early-bird,2.0,1,A16605_2
4,B10634,3391.074215,2,4,2.453656,Sleeping-dog,2.0,3,B10634_2
...,...,...,...,...,...,...,...,...,...
145,Z13253,3678.800000,2,5,2.463670,Big-Screen-lover,2.0,3,Z13253_2
146,Z13534,3662.437527,3,6,0.900000,Early-bird,3.0,1,Z13534_3
147,Z16428,3516.500000,2,5,2.371301,Big-Screen-lover,2.0,3,Z16428_2
148,Z16735,3300.100000,2,5,1.704942,Big-Screen-lover,2.0,2,Z16735_2
149,Z19835,3326.526183,2,6,1.200000,Early-bird,2.0,2,Z19835_2

# 3.리스트에서 데이터프레임 생성

In [9]:
productList = ["aProduct", "bPprodcut", "cProduct", "dProduct"]

In [13]:
priceList = [[1000,2000,3000,4000]]

In [14]:
pd.DataFrame(productList)

           0
0   aProduct
1  bPprodcut
2   cProduct
3   dProduct

In [15]:
pd.DataFrame(priceList)

      0     1     2     3
0  1000  2000  3000  4000

In [31]:
priceList = [1000,2000,3000,4000]

In [32]:
zipList = zip(productList, priceList)

In [33]:
productInfoDf = pd.DataFrame(zipList, columns=["productname","price"])
productInfoDf

  productname  price
0    aProduct   1000
1   bPprodcut   2000
2    cProduct   3000
3    dProduct   4000

In [36]:
productInfoDf.dtypes

productname    object
price           int64
dtype: object

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
27   F17131  3179.708359    3            6    1.100000        Early-bird
33   G16437  3787.328898    3            6    1.000000        Early-bird
36   G18402  3402.199381    3            6    1.000000        Early-bird
40   H16326  3988.935304    3            6    0.900000        Early-bird
45   I12899  3018.895637    3            6    0.900000        Early-bird
51   J10809  3676.135627    3            6    0.800000        Early-bird
52   J15083  2811.265932    3            6    0.900000        Early-bird
53   J16445  3041.848186    3            6    0.800000        Early-bird
60   L13892  3263.515145    3            6    1.100000        Early-bird
67   N13273  3839.694732    3            6    1.100000        Early-bird
95   R16364  3592.353540    3            6    0.900000        Early-bird
107  S17396  3895.200000    3            6    2.055707  Big-Screen-lover
113  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
126  V18566  3527.701867    3            6    0.900000        Early-bird
130  W13404  4296.873743    3            6    1.100000        Early-bird
135  X13390  2947.543982    3            6    1.100000        Early-bird
142  Z11525  3259.018704    3            6    0.900000        Early-bird
146  Z13534  3662.437527    3            6    0.900000        Early-bird

In [1]:
# 데이터프레임명.sort_values(by= [정렬컬럼],
#                            ascending = [정렬기준],
#                            ignore_index = False or True,     # ignore_index를 True로 해주면 index값을 정렬에 맞게 재정의
#                            inplace = False or True)

In [2]:
import pandas as pd

csData = pd.read_csv("../dataset/customerdata.csv")

In [3]:
#정렬하기

In [4]:
csData.columns

Index(['CUSTID', 'AVGPRICE', 'EMI', 'DEVICECOUNT', 'PRODUCTAGE', 'CUSTTYPE'], dtype='object')

In [5]:
sortKey = ["EMI", "AVGPRICE"]

In [18]:
csData.sort_values(by=sortKey,
                  ascending=[True,True],
                  inplace=True, ignore_index=True) # "EMI"컬럼과 "AVGPRICE"컬럼을 기준으로 정렬함

In [24]:
groupKey = ["EMI"]

In [25]:
# 자주 사용되는 집계함수
# count : 아이템 전체 개수
# first, last : 첫번째 및 마지막 아이템
# mean, median : 평균값, 중간값
# min, max : 최소값, 최대값
# std, var : 표준편차 및 분산
# prod : 그룹데이터의 곱
# sum : 그룹데이터의 합
# quantile : 사분위수

In [23]:
#데이터프레임명.groupby(by=[그룹키 컬럼])[집계대상 컬럼].agg([집계함수])
#EMI의 값에 해당하는 AVGPRICE의 mean값(평균)을 구하는 식
groupData = csData.groupby(by=groupKey)[["AVGPRICE"]].agg(["mean"])
groupData

        AVGPRICE
            mean
EMI
1    3119.031810
2    3441.429664
3    3559.487188

In [30]:
csData["MA5_BASIC"] = csData.AVGPRICE.rolling(window=3,center=True).mean()
# 범위는 5, 최소구간 1, 기준점을 설정하지 않은 AVGPRICE의 이동 구간 평균값을 MA5_BASIC 컬럼으로 새로 만들어서 추가하라

In [31]:
csData

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,MA5_BASIC
0,N14862,2390.083736,1,6,1.000000,Early-bird,NaN
1,I17056,2963.370122,1,3,2.139196,Sleeping-dog,2776.555016
2,Y12458,2976.211190,1,3,2.199677,Sleeping-dog,2973.270184
3,O13586,2980.229239,1,3,2.038603,Sleeping-dog,3001.583096
4,Q16449,3048.308860,1,3,2.369758,Sleeping-dog,3062.792434
...,...,...,...,...,...,...,...
145,S17396,3895.200000,3,6,2.055707,Big-Screen-lover,3907.943345
146,H16326,3988.935304,3,6,0.900000,Early-bird,4016.611768
147,T11473,4165.700000,3,6,1.780674,Big-Screen-lover,4142.845101
148,A13566,4273.900000,3,6,1.679181,Big-Screen-lover,4245.491248
149,W13404,4296.873743,3,6,1.100000,Early-bird,NaN

In [51]:
csData.drop_duplicates(subset=None, keep='first',inplace=False, ignore_index=False)

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,EMI2,PRODUCTAGE_NEW
0,A13566,4273.900000,3,6,1.679181,Big-Screen-lover,3.0,2
1,A14219,3642.441950,2,4,2.682023,Sleeping-dog,2.0,3
2,A15312,3653.884565,2,5,3.208202,Sleeping-dog,2.0,5
3,A16605,3713.211107,2,6,0.900000,Early-bird,2.0,1
4,B10634,3391.074215,2,4,2.453656,Sleeping-dog,2.0,3
...,...,...,...,...,...,...,...,...
145,Z13253,3678.800000,2,5,2.463670,Big-Screen-lover,2.0,3
146,Z13534,3662.437527,3,6,0.900000,Early-bird,3.0,1
147,Z16428,3516.500000,2,5,2.371301,Big-Screen-lover,2.0,3
148,Z16735,3300.100000,2,5,1.704942,Big-Screen-lover,2.0,2
149,Z19835,3326.526183,2,6,1.200000,Early-bird,2.0,2

In [54]:
csData.drop_duplicates(['CUSTTYPE']) # CUSTTYPE을 기준으로 중복제거

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,EMI2,PRODUCTAGE_NEW
0,A13566,4273.900000,3,6,1.679181,Big-Screen-lover,3.0,2
1,A14219,3642.441950,2,4,2.682023,Sleeping-dog,2.0,3
3,A16605,3713.211107,2,6,0.900000,Early-bird,2.0,1